.post,
.page {
  margin: 0;
}
.owl-carousel {
  z-index: 0;
}
.container-fluid.header-main {
  padding: 12px 0;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
}
.container {
  padding: 0;
}
.container.header-container .site-branding .site-title {
  margin: 0;
}
.hive-btn {
  position: relative;
  overflow: hidden;
  width: fit-content;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hive-btn a {
  position: relative;
  overflow: hidden;
  background-color: #b8860bbd;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  fill: #ffffff;
  color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  padding: 20px 46px 20px 40px;
  text-decoration: none;
}
.hive-btn span {
  z-index: 5;
  position: relative;
  transition: color 450ms ease;
}
.hive-btn a:hover span {
  color: white;
}
.hive-btn a::after,
.hive-btn a::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background: #111;
  z-index: -1;
}
.hive-btn a::before {
  transform: translateX(-100%);
  z-index: 0;
}
.hive-btn a:hover:before {
  transform: translateX(0);
  transition: transform 450ms ease;
}
.hive-btn a::after {
  z-index: 0;
  transform: translateX(100%);
  transition: none;
  transition: transform 450ms ease;
}
.hive-btn a:hover:after {
  opacity: 1;
  transform: translateX(0);
  transition: transform 450ms 460ms ease;
}
/* ------------ Header Center column ------------  */
.header-container .row,
.header-container .row > div {
  height: 100%;
}
.header-container .header-center-div {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
}
.header-container .header-center-div i.sider-bar-open {
  font-size: 34px;
  cursor: pointer;
  color: #b8860b;
}
.header-container .main-navigation {
  width: auto;
}
.header-container .main-navigation .main-menu {
  display: flex;
  gap: 56px;
  align-items: center;
}
.header-container .main-navigation .main-menu li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
}
.header-container .main-navigation .main-menu li.menu-item-has-children {
  position: relative;
}
.header-container
  .main-navigation
  .main-menu
  li.menu-item-has-children:hover
  .sub-menu {
  transform: scaleY(1);
}
.header-container .main-navigation .main-menu li.menu-item-has-children::after {
  content: "\ea13";
  position: absolute;
  right: -20px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  font-family: remixicon;
  top: 50%;
  transform: translateY(-50%);
}
.header-container
  .main-navigation
  .main-menu
  li.menu-item-has-children
  ul.sub-menu {
  min-width: 260px;
  background-color: #fff;
  top: 99px;
  display: block !important;
  transform: scaleY(0);
  left: 0;
  transform-origin: top;
  transition: all 0.2s ease;
}
.header-container
  .main-navigation
  .main-menu
  li.menu-item-has-children
  ul.sub-menu
  li {
  min-height: 50px;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  height: 50px;
}
.header-container
  .main-navigation
  .main-menu
  li.menu-item-has-children
  ul.sub-menu
  li
  a {
  color: #333;
  padding-left: 16px;
  text-transform: capitalize;
}
.header-container .main-navigation .main-menu a {
  color: #000;
  font-size: 15px;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.header-container .main-navigation .main-menu a:hover {
  color: #b8860b !important;
}
/* ------------ sidebar slider ------------  */
#sidebar-wrapper.sidebar-wrapper {
  position: fixed;
  z-index: 4;
  padding: 120px 120px 70px 70px;
  right: -28%;
  top: 0;
  width: 28%;
  background-color: #fff;
  height: 100%;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.8s ease;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#sidebar-wrapper.sidebar-wrapper.active {
  right: 0;
}
.sidebar-wrapper > i {
  position: absolute;
  right: 70px;
  top: 70px;
  font-size: 42px;
  color: #000;
  cursor: pointer;
}
.sidebar-wrapper > i:hover {
  animation: rotateIcon 0.25s linear forwards;
}
@keyframes rotateIcon {
  0% {
    transform: rotate(0);
  }
  0% {
    transform: rotate(-360deg);
  }
}
.sidebar-wrapper .logo {
  margin-top: 40px;
}
.sidebar-wrapper h2 {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  color: #111;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.sidebar-wrapper .contact-info p {
  width: 75%;
  color: #8a909a;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 18px;
}
.sidebar-wrapper .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.sidebar-wrapper .gallery img {
  width: 100%;
  height: 110px;
  min-height: 110px;
  object-fit: cover;
}
.sidebar-wrapper .social-info .social-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar-wrapper .social-info .social-links i:hover {
  background-color: #b8860b;
  color: #fff;
}

.sidebar-wrapper .social-info .social-links a {
  text-decoration: none;
}
.sidebar-wrapper .social-info .social-links i {
  font-size: 22px;
  color: #b8860b;
  width: 44px;
  height: 44px;
  border: 1px solid #b8860b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* ------------ Header right column ------------  */
.header-container .header-right-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}
.header-container .header-right-wrapper .footer-right-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container .header-right-wrapper .icon i {
  font-size: 56px;
  color: #b8860b;
}
.header-container .header-right-wrapper .footer-right-info span {
  font-size: 16px;
  color: #b8860b;
  text-transform: uppercase;
  font-family: "Jost";
  letter-spacing: 2.5px;
  font-weight: 600;
}
.header-container .header-right-wrapper .footer-right-info a {
  font-size: 18px;
  text-decoration: none;
  color: #b8860b;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 700;
}
/* ------------ Home-v1 header ------------  */
body.home-v1 header.container-fluid.header-main {
  margin-bottom: -100px;
  position: relative;
  z-index: 1;
}
body.home-v1 .header-container .main-navigation .main-menu a {
  color: #fff;
}
body.home-v1 .header-container .header-center-div i.sider-bar-open {
  font-size: 34px;
  cursor: pointer;
  color: #b8860b;
}
body.home-v1 .header-container .header-right-wrapper .icon i {
  color: #b8860b;
}
body.home-v1 .header-container .header-right-wrapper .footer-right-info span {
  color: #b8860b;
}
body.home-v1 .header-container .header-right-wrapper .footer-right-info a {
  color: #fff;
}
body.home-v1
  .header-container
  .main-navigation
  .main-menu
  li.menu-item-has-children::after {
  color: #fff;
}
/* ------------ Content Styling ------------  */
span.dot {
  width: 14px;
  height: 14px;
  background-color: #b8860b;
  display: inline-block;
}
/* ------------ Aminity Slider Styling ------------  */
.aminity-slider .owl-stage-outer,
.property_sale_carousel .owl-stage-outer {
  padding: 20px 0;
}
.aminity-slider .item {
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  height: 250px;
  position: relative;
  z-index: 1;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.aminity-slider .item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  z-index: -1;
  transition: all 0.5s ease;
  transform-origin: center;
}
.aminity-slider .item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  z-index: -1;
}
.aminity-slider .item:hover::after {
  transform: scale(0);
}
.aminity-slider .item:hover h2 {
  color: #fff;
}
.aminity-slider img.aminity-icon {
  width: 50px;
  height: 50px;
}
.aminity-slider h2 {
  color: #b8860b;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-size: 22px;
  font-family: "Plus Jakarta Sans";
  position: relative;
  transition: all 0.2s ease;
}
.aminity-slider h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 50px;
  background-color: #b8860b;
  top: -55px;
  transform: translateX(-50%);
}
.owl-nav {
  display: flex !important;
  justify-content: flex-end;
  gap: 5px;
  padding-right: 10px;
  margin-top: 20px;
}
.owl-nav button {
  width: 52px;
  height: 52px;
  border-radius: 50% !important;
  background-color: #8a909a !important;
  transition: all 0.3s ease;
}
.owl-nav button i {
  color: #333;
  font-size: 22px;
}
.owl-nav button:hover {
  background-color: #b8860b !important;
}
.owl-nav button:hover i {
  color: #fff !important;
}
/* ------------ Property Sale / Rent Listing Styling ------------  */
.property-list {
  background-color: #fff;
  border-radius: 24px;
  padding: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}
.property-tags {
  position: absolute;
  z-index: 1;
  right: 27px;
  top: 20px;
  display: flex;
  gap: 10px;
}
.property-tags span {
  background-color: #b8860b;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 40px;
  text-transform: uppercase;
}
.property-list .property-img-wrapper {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 16px;
}
.property-list .property-img-wrapper img {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  position: relative;
  transition: all 0.5s ease;
}
.property-list .property-img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.property-list:hover .property-img-wrapper img {
  transform: scale(1.04);
  border-radius: inherit;
}
.property-list:hover .property-img-wrapper::after {
  -webkit-animation: imgShine 1s;
  animation: imgShine 1s;
}
@keyframes imgShine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
.property-list p.post-excerpt,
.property-list div.post-excerpt {
  font-size: 16px;
  margin: 20px 0;
  line-height: 28px;
  font-family: "Quicksand";
  font-weight: 500;
  color: #8a909a;
}
.property-list div.post-meta {
  margin-bottom: 20px;
  font-family: "Quicksand";
  font-weight: 600;
}
.property-list div.post-meta .post-date {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #444;
}
.property-list div.post-meta .post-date i {
  font-size: 22px;
}
.property-list span.property-price {
  color: #b8860b;
  font-size: 19px;
  font-weight: 500;
  font-family: "Jost";
  letter-spacing: 0.7px;
  margin-bottom: 17px;
}
.property-list a.property-title,
.property-list h2.property-title {
  font-size: 20px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #333;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}
.property-list a.property-title:hover,
.property-list h2.property-title:hover {
  color: #b8860b;
}
.property-list p.property-address {
  color: #8a909a;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.property-list span.prop-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #444;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
  margin-bottom: 6px;
}
.property-list span.prop-icon {
  font-size: 16px;
}
span.prop-icon.category.prop-footer {
  margin: 30px 10px 10px 0;
  justify-content: flex-end;
  position: relative;
  gap: 10px;
  font-weight: 700;
  font-size: 17px;
}
span.prop-icon.category.prop-footer i {
  width: 36px;
  height: 36px;
  background-color: #e9e9e9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
span.prop-icon.category.prop-footer::after {
  content: "";
  position: absolute;
  left: -12px;
  top: -10px;
  display: block;
  height: 1px;
  width: calc(100% + 34px);
  background: #e9e9e9;
}
span.prop-icon.category.prop-footer .prop-cat-name {
}
/* ------------ Country List Styling ------------  */
.country-list-container .country-item {
  height: 400px;
  border-radius: 40px;
  box-shadow: rgba(17, 17, 26, 0.35) 0px 0px 16px 1px;
  position: relative;
  z-index: 0;
  margin-bottom: 26px;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
.country-list-container .country-item img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
  transition: all 0.3s ease;
}
.country-list-container .country-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 4;
  border-radius: 40px;
}
.country-item .country-name {
  text-align: center;
  color: #fff;
  z-index: 12;
  font-family: "Jost";
  font-size: 28px;
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.country-list-container .country-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.country-item:hover img {
  border-radius: 24px;
  transform: scale(1.05);
}
.country-item:hover::after {
  -webkit-animation: imgShine 1s;
  animation: imgShine 1s;
}
.site-footer .newsletter-wrapper {
  height: 100px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
}
.site-footer .newsletter-wrapper h4.newsletter-title {
  font-size: 24px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
}
.site-footer .newsletter-wrapper .newsletter-wrapper > p {
  display: flex;
  position: relative;
  margin: 0;
}
.site-footer
  .newsletter-wrapper
  .newsletter-wrapper
  > p
  span.wpcf7-form-control-wrap {
  width: 100%;
}
.site-footer .newsletter-wrapper .newsletter-wrapper > p input[type="email"] {
  height: 55px;
  padding: 16px;
  border-radius: 40px;
  border: none;
  outline: none;
  width: 100%;
}
.wpcf7-spinner {
  position: absolute;
  right: -40px;
  top: 10px;
}
.site-footer .newsletter-wrapper .newsletter-wrapper > p input[type="submit"] {
  display: none;
}
.site-footer .newsletter-wrapper .newsletter-wrapper > p label[for="submit"] {
  position: absolute;
  right: 5px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b8860b;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.site-footer
  .newsletter-wrapper
  .newsletter-wrapper
  > p
  label[for="submit"]:after {
  content: "\f548";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: remixicon;
  color: #fff;
  font-size: 30px;
}
.site-footer .footer-main {
  padding: 100px 0 150px 0;
  background-color: #1c1c1e;
  background-image: url(/wp-content/uploads/2024/12/section-bg-footer.png);
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.site-footer .footer-main::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.site-footer .footer-main .container {
  position: relative;
  z-index: 1;
}
.site-footer .footer-main .footer-first-col img {
  margin-bottom: 40px;
}
.site-footer .footer-main .footer-first-col p.footer-para {
  color: #fff;
  font-size: 17px;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
  width: 80%;
}
.site-footer .footer-main .footer-first-col .footer-social-links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}
.site-footer .footer-main .footer-first-col .footer-social-links a {
  text-decoration: none;
}
.site-footer .footer-main .footer-first-col .footer-social-links i {
  font-size: 22px;
  color: #b8860b;
  width: 44px;
  height: 44px;
  border: 1px solid #b8860b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.site-footer .footer-main .footer-first-col .footer-social-links i:hover {
  background-color: #b8860b;
  color: #fff;
}
.site-footer .footer-main .footer-links-heading {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 1px;
}
.site-footer .footer-main .footer-info-links .icon-link {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 40px;
}
.site-footer .footer-main .footer-info-links .icon-link i {
  font-size: 22px;
  color: #b8860b;
  width: 44px;
  height: 44px;
  border: 1px solid #b8860b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.site-footer .footer-main .footer-info-links .icon-link:hover i {
  background-color: #b8860b;
  color: #fff;
}
.site-footer .footer-main .footer-info-links .icon-link a {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.5px;
  width: 70%;
  text-decoration: none;
}
.site-footer .footer-main .footer-menu-col ul {
  margin: 40px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.site-footer .footer-main .footer-menu-col ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-family: "Quicksand";
  font-weight: 500;
  letter-spacing: 0.7px;
  transition: all 0.4s ease;
}
.site-footer .footer-main .footer-menu-col ul li a:hover {
  color: #b8860b;
}
.footer-copyright {
  background-color: #000;
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff;
}
.footer-copyright p.copyright-text {
  font-size: 18px;
  margin: 0;
  font-family: "Quicksand";
  font-weight: 500;
  letter-spacing: 0.7px;
}
.footer-copyright .footer-social-links {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}
.footer-copyright .footer-social-links a {
  text-decoration: none;
}
.footer-copyright .footer-social-links i {
  font-size: 22px;
  color: #b8860b;
  width: 36px;
  height: 36px;
  border: 1px solid #b8860b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.footer-copyright .footer-social-links i:hover {
  background-color: #b8860b;
  color: #fff;
}
.inner-banner {
  min-height: 360px;
  background-image: url(/wp-content/uploads/2024/12/33903305_1066-ai.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 6px solid #b8860b;
}
.inner-banner::before {
  content: "";
  position: absolute;
  left: 0;
  width: 40%;
  height: 6px;
  background-color: #333;
  bottom: -6px;
  z-index: 1;
}
.inner-banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 0;
}
.inner-banner .inner-banner-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.inner-banner .inner-banner-wrapper h1.inner-title {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Plus Jakarta Sans";
  margin-bottom: 20px;
}
.inner-banner .inner-banner-wrapper .breadcrumbs {
  padding: 0;
  margin: 0;
}
.inner-banner .inner-banner-wrapper .breadcrumbs > span {
  display: flex;
  gap: 12px;
  align-items: center;
}
.inner-banner .inner-banner-wrapper .breadcrumbs > span span,
.inner-banner .inner-banner-wrapper .breadcrumbs > span a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: "Quicksand";
  font-weight: 600;
}
.inner-banner .inner-banner-wrapper .breadcrumbs > span i {
  font-size: 20px;
  color: #b8860b;
}
.about-cols .elementor-column > div {
  transition: all 0.5s ease !important;
}
.about-cols .elementor-column > div:hover {
  transform: translateY(-16px);
}
.team-container .team-item {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  height: 420px;
}

.team-container .team-item .team-img-wrapper {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 38px;
  position: relative;
  overflow: hidden;
}
.team-container .team-item .team-img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.team-container .team-item .team-img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.team-container .team-item:hover .team-img-wrapper::after {
  -webkit-animation: imgShine 1s;
  animation: imgShine 1s;
}
.team-container .team-item:hover .team-img-wrapper img {
  transform: scale(1.05);
}
.team-container .team-item .member-name {
  font-size: 25px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #333;
  margin-bottom: 8px;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}
.team-container .team-item .member-name:hover {
  color: #b8860b;
}
.team-container .team-item .member-designation {
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand";
  font-weight: 600;
  color: #8a909a;
}
.team-container .team-item .member-social-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.team-container .team-item .member-social-wrapper a {
  border-radius: 8px 8px 0 0;
  width: 45px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  transition: all 0.4s ease;
}
.team-container .team-item .member-social-wrapper a i {
  color: #b8860b;
  font-size: 16px;
  transition: all 0.4s ease;
}
.team-container .team-item .member-social-wrapper a:hover {
  background-color: #b8860b;
}
.team-container .team-item .member-social-wrapper a:hover i {
  color: #efefef;
}
.tesmonial-container .tesmonial-item {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tesmonial-container .tesmonial-item i.testimonials-quote {
  color: #eceffc;
  font-size: 50px;
  position: absolute;
  left: 20px;
  top: 0;
  transform: scaleX(-1);
}
.tesmonial-container .tesmonial-item .tesmonial-img-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 0 10px 0;
}
.tesmonial-container .tesmonial-item .tesmonial-img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.tesmonial-container .tesmonial-item .client-review {
  font-size: 16px;
  margin: 20px 0 30px 0;
  line-height: 28px;
  font-family: "Quicksand";
  font-weight: 500;
  color: #8a909a;
}
.tesmonial-container .tesmonial-item .client-name {
  font-size: 20px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #333;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}
.tesmonial-container .tesmonial-item .review-stars i {
  color: #b8860b;
  font-size: 16px;
  margin-right: 4px;
}
.contact-form-main .inline-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.contact-form-main .inline-fields .half-field {
  width: 49%;
}
.contact-form-main .inline-fields .half-field span {
  width: 100%;
  display: block;
  position: relative;
}
.contact-form-main .inline-fields .half-field span::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 50%;
  color: #807f8595;
  transform: translateY(-50%);
  font-size: 20px;
  font-family: remixicon;
}
.contact-form-main .full-field.message span {
  position: relative;
  display: block;
}
.contact-form-main .full-field.message span::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 12px;
  color: #807f8595;
  font-size: 20px;
  font-family: remixicon;
}
.contact-form-main .inline-fields .half-field.first-name span::after,
.contact-form-main .inline-fields .half-field.last-name span::after {
  content: "\f255";
}
.contact-form-main .inline-fields .half-field.email span::after {
  content: "\ef01";
}
.contact-form-main .inline-fields .half-field.phone span::after {
  content: "\efe9";
}
.contact-form-main .full-field.message span::after {
  content: "\eb50";
}
.contact-form-main .inline-fields .half-field input {
  width: 100%;
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 12px;
  background-color: #f1f0f5;
  border: none;
  outline: none;
  border-radius: 8px;
}
.contact-form-main .inline-fields .half-field input::placeholder,
.contact-form-main .full-field textarea::placeholder {
  color: #807f85;
}
.contact-form-main .full-field textarea {
  width: 100%;
  padding: 12px;
  background-color: #f1f0f5;
  border: none;
  outline: none;
  border-radius: 8px;
  resize: none;
}
.contact-form-main input,
.contact-form-main textarea {
  font-size: 15px;
  color: #333;
  font-family: "Quicksand";
  font-weight: 600;
}
.contact-form-main input[type="submit"] {
  width: 140px;
  height: 45px;
  border-radius: 0;
  border: none;
  color: #fff;
  transition: all 0.4s ease;
  background-color: #b8860b;
  font-size: 17px;
  font-family: "Quicksand";
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.contact-form-main input[type="submit"]:hover {
  background-color: #333;
}
.elementor-icon-box-wrapper a {
  text-decoration: none;
  color: #8a909a;
}
.gallery-masonry-wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  background-color: unset;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.gallery-masonry-wrapper .gallery-masonry-item::after,
.hive-gallery-container .hive-gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.gallery-masonry-wrapper .gallery-masonry-item:hover img,
.hive-gallery-container .hive-gallery-item:hover img {
  transform: scale(1.04);
  border-radius: 10px;
}
.gallery-masonry-wrapper .gallery-masonry-item:hover::after,
.hive-gallery-container .hive-gallery-item:hover::after {
  -webkit-animation: imgShine 1s;
  animation: imgShine 1s;
}

.gallery-masonry-wrapper div.gallery-masonry-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.gallery-masonry-wrapper div.gallery-masonry-item a {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.gallery-masonry-wrapper div.gallery-masonry-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.gallery-masonry-wrapper > div:nth-child(3n) {
  grid-row: span 2;
}
.gallery-masonry-wrapper > div:nth-child(5n) {
  grid-row: span 2;
}
.gallery-masonry-wrapper > div:nth-child(7n) {
  grid-column: span 2;
}
.hive-gallery-container .hive-gallery-item {
  height: 100%;
  border-radius: 12px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.hive-gallery-container .hive-gallery-item img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: all 0.4s ease;
  object-fit: cover;
}
section.error-404.not-found {
  padding: 150px 0;
}
section.error-404.not-found .page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.error-404.not-found .page-header img {
  margin: 80px;
}
section.error-404.not-found .page-header h1.page-title {
  color: #333;
  font-size: 72px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: "Jost";
  font-weight: 600;
}
section.error-404.not-found div.page-content p {
  font-size: 22px;
  width: 80%;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  color: #111;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 20px auto;
}
section.error-404.not-found .hive-btn {
  margin: 30px auto;
}
.faqs-container .accordion .accordion-item h2 button {
  border: 1px solid #e2e2e2 !important;
  background-color: transparent !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  font-size: 17px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #333 !important;
  text-transform: capitalize;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.faqs-container .accordion .accordion-item h2 button[aria-expanded="false"] {
  background-color: #f5f8fd !important;
}
.faqs-container .accordion .accordion-item {
  border: none !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.faqs-container .accordion .accordion-item .faq-para {
  background-color: transparent;
  color: #00000080;
  font-family: "Quicksand", Sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
}
.faqs-container .accordion button::after {
  content: "\f105" !important;
  background-image: unset;
  font-family: "FontAwesome";
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.faqs-container .accordion .accordion-button:not(.collapsed)::after {
  transform: rotate(90deg);
}

/* ------------ Property Detail Page ------------  */

.property-detail-container {
  padding: 100px 0;
}
.property-detail-container .property-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-detail-container .property-info-top .info-top-left .tags-wrapper {
  display: flex;
  gap: 10px;
}
.property-detail-container .property-info-top .info-top-left span.prop-tag {
  min-width: 85px;
  max-width: 90px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 13px;
  color: #333;
  font-family: "Jost";
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.property-detail-container .property-info-top .info-top-left h2 {
  font-size: 42px;
  font-family: "Plus Jakarta Sans";
  letter-spacing: 1px;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}
.property-detail-container .property-info-top .info-top-left p {
  color: #8a909a;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.property-detail-container .property-info-top .info-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.property-detail-container
  .property-info-top
  .info-top-right
  span.prop-detail-price {
  font-size: 30px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  letter-spacing: 1px;
  color: #b8860b;
}
.property-detail-container
  .property-info-top
  .info-top-right
  span.prop-detail-area {
  font-size: 24px;
  font-family: "Quicksand";
  font-weight: 600;
  color: #333;
}

.property-detail-gallery {
  margin: 40px 0;
}

.property-detail-gallery #big .owl-stage-outer {
  border-radius: 12px;
}
.property-detail-gallery #big .owl-item {
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.property-detail-gallery #big .owl-item img {
  border-radius: inherit;
  max-height: 520px;
  object-fit: cover;
}
#thumbs .owl-item {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
#thumbs .owl-item img {
  border-radius: inherit;
  object-fit: cover;
  max-height: 160px;
  height: 160px;
}
.property-detail-gallery #thumbs .owl-stage-outer {
  padding: 12px 0 20px 0;
}
.property-detail-gallery #big .owl-nav,
.property-detail-gallery #thumbs .owl-nav {
  display: none !important;
}
.property-detail-container .property-detail-content-wrapper {
  margin-bottom: 40px;
}
.property-detail-container .property-detail-content-wrapper p {
  color: #1c1c1e;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
}
.property-detail-container .property-overview {
  margin-bottom: 40px;
}

.property-detail-container .property-overview h2 {
  font-size: 30px;
  font-family: "Plus Jakarta Sans";
  letter-spacing: 1px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}
.property-detail-container .property-overview .overview-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 0 12px;
}
.property-detail-container .property-overview .overview-main span.prop-icon {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  color: #333;
  font-family: "Plus Jakarta Sans";
  font-size: 17px;
  font-weight: 400;
}
.property-detail-container
  .property-overview
  .overview-main
  span.prop-icon
  > span {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1c1c1e;
  font-size: 18px;
  font-family: "Quicksand";
  font-weight: 500;
}

.property-detail-container
  .property-overview
  .overview-main
  span:not(:last-child) {
  border-right: 1px solid #e2e2e2;
}
.property-detail-container .property-detail-right {
  padding-top: 30px;
}
.property-detail-container .property-detail-right .cont-form {
  padding: 24px 16px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.property-detail-container .property-detail-right .cont-form h2 {
  font-size: 19px;
  font-family: "Plus Jakarta Sans";
  letter-spacing: 1px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.property-detail-container .property-detail-right .property-form input,
.property-detail-container .property-detail-right .property-form textarea {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 8px;
  padding: 12px;
}
.property-detail-container .property-detail-right .property-form {
  position: relative;
}
.property-detail-container
  .property-detail-right
  .property-form
  .wpcf7-spinner {
  position: absolute;
  left: -11px;
  bottom: -61px;
  z-index: 99999;
  top: auto;
}
.property-detail-container
  .property-detail-right
  .property-form
  input:not(input[type="submit"]) {
  height: 40px;
}
.property-detail-container .property-overview {
  margin-bottom: 40px;
}
.properties-amenities-wrapper.property-overview {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 24px 20px 36px 24px;
  border-radius: 12px;
}
.properties-amenities-wrapper.property-overview h2.amenity {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #807f8550;
}
.properties-amenities-wrapper.property-overview h2.amenity i {
  font-size: 20px;
}
.properties-amenities-wrapper.property-overview ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}
.properties-amenities-wrapper.property-overview ul li {
  position: relative;
  padding-left: 20px;
  font-family: "Quicksand";
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 0.5px;
}
.properties-amenities-wrapper.property-overview ul li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 7px;
  height: 7px;
  background-color: #b8860b;
  transform: translateY(-50%);
}
.property-detail-right .related-properties.property-list {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 10px;
  box-shadow: none;
  border: 1px solid #807f85;
  border-radius: 14px;
  margin-top: 20px;
}
.property-detail-right
  .related-properties.property-list
  .rel-prop-img.property-img-wrapper {
  margin: 0;
  border-radius: 8px;
  flex: 0 0 40%;
}
.property-detail-right
  .related-properties.property-list
  .rel-prop-img.property-img-wrapper
  img {
  width: 130px;
  min-width: 130px;
  min-height: 100px;
  height: 100px !important;
  border-radius: 8px;
}
.property-detail-right .related-properties.property-list .rel-prop-info {
  display: flex;
  flex-direction: column;
}
.property-detail-right
  .related-properties.property-list
  .rel-prop-info
  .property-price {
  margin: 0;
}
.property-detail-right
  .related-properties.property-list
  .rel-prop-info
  .property-title {
  font-size: 17px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.property-detail-right
  .related-properties.property-list
  .rel-prop-info
  .property-address {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
/* ------------ Blog Detail Page ------------  */
.blog-detail {
  padding: 100px 0;
}
.blog-detail .blog-img-feature img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 14px;
}
.blog-detail .blog-img-feature .post-meta {
  display: flex;
  gap: 60px;
  margin-bottom: 30px;
}
.blog-detail .blog-img-feature .post-meta .post-date,
.blog-detail .blog-img-feature .post-meta .post-categories {
  color: rgb(99, 99, 99);
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.blog-detail .blog-img-feature .post-meta .post-categories a {
  text-decoration: none;
  color: rgb(99, 99, 99);
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 16px;
}
.blog-detail .blog-detail-content {
  margin-top: 20px;
}
.blog-detail .blog-detail-content p {
  color: #1c1c1e;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
}
.blog-detail .blog-detail-content img {
  border-radius: 8px;
  margin: 5px;
  max-height: 440px;
  width: 100%;
}

.post-detail-right .post-details-categories {
  border: 1px solid #807f8550;
  border-radius: 12px;
  padding: 30px 20px;
}
.post-detail-right .post-details-categories h2.post-categories {
  font-size: 30px;
  font-family: "Jost";
  letter-spacing: 1px;
}
.post-detail-right .post-details-categories ul.category-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.post-detail-right .post-details-categories ul.category-list li {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 30px 0;
  position: relative;
  transition: all 0.3s ease;
}
.post-detail-right .post-details-categories ul.category-list li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 7px;
  height: 7px;
  background-color: #b8860b;
  transform: translateY(-50%);
}
.post-detail-right .post-details-categories ul.category-list li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #807f8550;
}
.post-detail-right .post-details-categories ul.category-list li a {
  text-decoration: none;
  color: #111;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 17px;
  transition: all 0.3s ease;
  letter-spacing: 0.3px;
}
.post-detail-right .post-details-categories ul.category-list li:hover,
.post-detail-right .post-details-categories ul.category-list li a:hover {
  color: #b8860b;
}
.post-detail-right .post-details-categories .category-tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
}
.post-detail-right .post-details-categories .category-tags a {
  padding: 0 18px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 13px;
  color: #333;
  font-family: "Jost";
  font-weight: 500;
  letter-spacing: 0.5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.related-posts h3.widget-title {
  font-size: 38px;
  font-family: "Plus Jakarta Sans";
  letter-spacing: 1px;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid #807f8550;
}
.related-posts div.related-posts-list {
  display: flex;
  gap: 10px;
  margin-top: 36px;
}
.related-posts div.related-posts-list .related-post {
  width: 33.33%;
}
.related-posts div.related-posts-list .related-post h4 {
  font-size: 20px;
  min-height: 50px;
}
.related-posts div.related-posts-list .related-post img {
  min-height: 250px;
}

/* ------------ Blog Page Page ------------  */
.blog-posts-container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}
.blog-posts-container .pagination .page,
.blog-posts-container .pagination .page-numbers:not(.next) {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #1c1c1e;
  color: #1c1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  text-decoration: none;
}
.blog-posts-container .pagination .page-numbers.next {
  color: #111;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.blog-posts-container .pagination .page:hover,
.blog-posts-container .pagination .page-numbers:not(.next):hover {
  color: #111;
  background-color: #b8860b;
  border-color: #b8860b;
}

/* ------------ Properties Page ------------  */
.property-filter-container form {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
.property-filter-container form input[type="text"] {
  width: 40%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #807f85;
  color: #1c1c1e;
  padding: 12px;
}
.property-filter-container form select {
  width: 12%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #807f85;
  color: #1c1c1e;
  border-radius: 8px;
  padding: 10px;
}
.property-filter-container form button[type="submit"] {
  width: 12%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #807f85;
  color: #1c1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 0;
}
.property-filter-container form button[type="submit"]:hover {
  background-color: #b8860b;
  border-color: #b8860b;
  color: #1c1c1e;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .header-container .main-navigation .main-menu a {
    font-size: 12px;
  }
  .header-container .header-center-div i.sider-bar-open {
    font-size: 28px;
  }
  .header-container .header-right-wrapper .icon i {
    font-size: 32px;
  }
  .header-container .header-right-wrapper .footer-right-info span {
    font-size: 14px;
  }
  .header-container .header-right-wrapper .footer-right-info a {
    font-size: 20px;
  }
  .elementor-inner-section > div {
    max-width: 1120px !important;
  }
}
@media (min-width: 769px) and (max-width: 1190px) {
}
@media only screen and (max-width: 768px) {
  header.container-fluid.header-main {
    height: 100px !important;
  }
  .header-container .header-center-div i.sider-bar-open {
    display: none !important;
  }
  .right-header {
    display: none;
  }
  #sidebar-wrapper.sidebar-wrapper {
    display: none;
  }
  .header-container .main-navigation .main-menu {
    flex-direction: column;
  }
  .header-container .main-navigation {
    width: 100%;
  }
  header {
    height: unset !important;
  }
  header .left-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  header .left-menu-header img {
    width: 250px;
  }
  header .left-menu-header i {
    font-size: 34px;
    cursor: pointer;
    color: #b8860b;
  }
  .header-container
    .main-navigation
    .main-menu
    li.menu-item-has-children::after {
    color: #1c1c1e !important;
    right: 0;
  }
  header .header-center-div {
    position: fixed;
    z-index: 9;
    left: -70%;
    top: 0;
    width: 70%;
    background-color: #fff;
    justify-content: unset !important;
    align-items: unset !important;
    padding-top: 60px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  }
  header .header-center-div.mob-menu-active {
    left: 0;
  }
  .header-container .main-navigation .main-menu {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 0 !important;
  }
  .header-container .main-navigation .main-menu li {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #807f8550;
  }
  .header-container .main-navigation .main-menu a {
    color: #1c1c1e !important;
  }
  header .header-center-div i.menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
  }
  .inner-banner .inner-banner-wrapper h1.inner-title {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .inner-banner .inner-banner-wrapper .breadcrumbs > span {
    justify-content: center;
  }
  .inner-banner .inner-banner-wrapper .breadcrumbs > span span,
  .inner-banner .inner-banner-wrapper .breadcrumbs > span a {
    font-size: 14px;
  }
  .property-list .property-img-wrapper {
    margin-bottom: 12px;
  }
  .property-list .property-img-wrapper img {
    min-height: 240px !important;
    max-height: 240px !important;
  }
  .property-list a.property-title,
  .property-list h2.property-title {
    margin-bottom: 0;
  }
  .property-list p.property-address {
    margin-bottom: 5px;
  }
  span.prop-icon.category.prop-footer {
    margin: 24px 10px 5px 0;
  }
  .site-footer .newsletter-wrapper {
    height: auto;
    padding: 20px 10px;
    text-align: center;
  }
  .site-footer .footer-main {
    padding: 40px 20px;
  }
  .site-footer .footer-main .footer-first-col .footer-social-links {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .site-footer .footer-main .footer-menu-col ul {
    margin: 20px 0 40px 0;
  }
  .footer-copyright {
    text-align: center;
    height: auto;
    padding: 20px 10px;
  }
  .property-filter-container form {
    flex-direction: column;
    padding: 0 20px;
  }
  .property-filter-container form input[type="text"],
  .property-filter-container form select,
  .property-filter-container form button[type="submit"] {
    width: 100%;
  }
  .property-detail-container .property-info-top {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .property-detail-container .property-info-top .info-top-right {
    align-items: flex-start;
  }
  .property-detail-gallery #big .owl-item img {
    max-height: 320px;
    min-height: 320px;
  }
  .property-detail-container .property-overview .overview-main {
    height: auto;
    padding: 20px 0;
    gap: 20px;
    flex-wrap: wrap;
  }
  .property-detail-container
    .property-overview
    .overview-main
    span:not(:last-child) {
    border: none;
  }
  .property-detail-container .property-overview .overview-main span.prop-icon {
    flex: 0 0 47%;
  }
  .properties-amenities-wrapper.property-overview ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .property-detail-container .property-overview h2 {
    font-size: 22px;
  }
  .property-detail-right
    .related-properties.property-list
    .rel-prop-img.property-img-wrapper
    img {
    min-height: 100px !important;
    max-height: 100px !important;
  }
  .blog-detail .blog-img-feature .post-meta .post-date, .blog-detail .blog-img-feature .post-meta .post-categories{
    font-size: 16px;
  }
  .property-detail-container .property-info-top .info-top-left h2{
    font-size: 30px;
  }
  .related-posts div.related-posts-list .related-post{
    width: 100%;
  }
}
