.container-fluid.header-main {
  padding: 12px 0;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
}
.container {
  padding: 0;
}
.container.header-container .site-branding .site-title {
  margin: 0;
}

.hive-btn a {
  position: relative;
  overflow: hidden;
}
.hive-btn span {
  z-index: 5;
  position: relative;
  transition: color 450ms ease;
}
.hive-btn a:hover span {
  color: white;
}

.hive-btn a::after,
.hive-btn a::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background: #111;
  z-index: -1;
}

.hive-btn a::before {
  /*   background: blue; */
  transform: translateX(-100%);
  z-index: 1;
}

.hive-btn a:hover:before {
  transform: translateX(0);
  transition: transform 450ms ease;
}

.hive-btn a::after {
  z-index: 0;
  transform: translateX(100%);
  transition: none;
  transition: transform 450ms ease;
}

.hive-btn a:hover:after {
  opacity: 1;
  transform: translateX(0);
  transition: transform 450ms 460ms ease;
}

/* ------------ Header Center column ------------  */

.header-container .header-center-div {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
}
.header-container .header-center-div i.sider-bar-open {
  font-size: 34px;
  cursor: pointer;
  color: #000;
}
.header-container .main-navigation {
  width: auto;
}
.header-container .main-navigation .main-menu {
  display: flex;
  gap: 56px;
  align-items: center;
}
.header-container .main-navigation .main-menu a {
  color: #000;
  font-size: 15px;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.header-container .main-navigation .main-menu a:hover {
  color: #b8860b !important;
}

/* ------------ sidebar slider ------------  */

.sidebar-wrapper {
  position: fixed;
  padding: 120px 120px 70px 70px;
  right: -28%;
  top: 0;
  width: 28%;
  z-index: 2;
  background-color: #fff;
  height: 100%;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.8s ease;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.sidebar-wrapper.active {
  right: 0;
}
.sidebar-wrapper > i {
  position: absolute;
  right: 70px;
  top: 70px;
  font-size: 42px;
  color: #000;
  cursor: pointer;
}
.sidebar-wrapper > i:hover {
  animation: rotateIcon 0.25s linear forwards;
}
@keyframes rotateIcon {
  0% {
    transform: rotate(0);
  }
  0% {
    transform: rotate(-360deg);
  }
}
.sidebar-wrapper .logo {
  margin-top: 40px;
}
.sidebar-wrapper h2 {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  color: #111;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.sidebar-wrapper .contact-info p {
  width: 75%;
  color: #8a909a;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 18px;
}

.sidebar-wrapper .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.sidebar-wrapper .gallery img {
  height: 100%;
  min-height: 110px;
  object-fit: cover;
}
.sidebar-wrapper .social-info .social-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar-wrapper .social-info .social-links i {
  font-size: 30px;
}

/* ------------ Header right column ------------  */

.header-container .header-right-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}
.header-container .header-right-wrapper .footer-right-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container .header-right-wrapper .icon i {
  font-size: 56px;
  color: #000;
}
.header-container .header-right-wrapper .footer-right-info span {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  font-family: "Jost";
  letter-spacing: 2.5px;
  font-weight: 600;
}
.header-container .header-right-wrapper .footer-right-info a {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 700;
}

/* ------------ Home-v1 header ------------  */

body.home-v1 header.container-fluid.header-main {
  margin-bottom: -100px;
  position: relative;
  z-index: 1;
}
body.home-v1 .header-container .main-navigation .main-menu a {
  color: #fff;
}
body.home-v1 .header-container .header-center-div i.sider-bar-open {
  font-size: 34px;
  cursor: pointer;
  color: #b8860b;
}
body.home-v1 .header-container .header-right-wrapper .icon i {
  color: #b8860b;
}
body.home-v1 .header-container .header-right-wrapper .footer-right-info span {
  color: #b8860b;
}
body.home-v1 .header-container .header-right-wrapper .footer-right-info a {
  color: #fff;
}

/* ------------ Content Styling ------------  */

span.dot {
  width: 14px;
  height: 14px;
  background-color: #b8860b;
  display: inline-block;
}

.aminity-slider .owl-stage-outer,
.property_sale_carousel .owl-stage-outer{
  padding: 20px 0;
}

.aminity-slider .item {
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  height: 250px;
  position: relative;
  z-index: 1;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.aminity-slider .item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  z-index: -1;
  transition: all 0.5s ease;
  transform-origin: center;
}
.aminity-slider .item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  z-index: -1;
}
.aminity-slider .item:hover::after {
  transform: scale(0);
}
.aminity-slider .item:hover h2 {
  color: #fff;
}
.aminity-slider img.aminity-icon {
  width: 50px;
  height: 50px;
}
.aminity-slider h2 {
  color: #b8860b;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-size: 22px;
  font-family: "Plus Jakarta Sans";
  position: relative;
  transition: all 0.2s ease;
}
.aminity-slider h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 50px;
  background-color: #b8860b;
  top: -55px;
  transform: translateX(-50%);
}
.owl-nav {
  display: flex !important;
  justify-content: flex-end;
  gap: 5px;
  padding-right: 10px;
  margin-top: 20px;
}
.owl-nav button {
  width: 52px;
  height: 52px;
  border-radius: 50% !important;
  background-color: #8a909a !important;
  transition: all 0.3s ease;
}
.owl-nav button i {
  color: #333;
  font-size: 22px;
}
.owl-nav button:hover {
  background-color: #b8860b !important;
}
.owl-nav button:hover i {
  color: #fff !important;
}

.property-list {
  background-color: #fff;
  border-radius: 24px;
  padding: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}
.property-tags {
  position: absolute;
  z-index: 1;
  right: 27px;
  top: 20px;
  display: flex;
  gap: 10px;
}
.property-tags span{
  background-color: #b8860b;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 40px;
  text-transform: uppercase;
}
.property-list .property-img-wrapper{
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 16px;
}
.property-list .property-img-wrapper img {
  min-height: 340px;
  max-height: 340px;
  object-fit: cover;
  border-radius: inherit;
  position: relative;
  transition: all 0.5s ease;
}
.property-list .property-img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.property-list:hover .property-img-wrapper img{
  transform: scale(1.04);
  border-radius: inherit;
}
.property-list:hover .property-img-wrapper::after {
  -webkit-animation: imgShine 1s;
  animation: imgShine 1s;
}
@keyframes imgShine {
  0%{
    left: -75%;
  }
  100%{
    left: 125%;
  }
}
.property-list span.property-price {
  color: #b8860b;
  font-size: 20px;
  font-weight: 500;
  font-family: "Jost";
  letter-spacing: 0.7px;
  margin-bottom: 17px;
}
.property-list a.property-title {
  font-size: 22px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #333;
  margin-bottom: 12px;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}
.property-list a.property-title:hover{
  color: #b8860b;
}
.property-list p.property-address {
  color: #8a909a;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.property-list span.prop-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #444;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
  margin-bottom: 8px;
}
.property-list span.prop-icon {
  font-size: 18px;
}
span.prop-icon.category.prop-footer {
  margin: 30px 10px 10px 0;
  justify-content: flex-end;
  position: relative;
  gap: 10px;
  font-weight: 700;
  font-size: 17px;
}
span.prop-icon.category.prop-footer i {
  width: 36px;
  height: 36px;
  background-color: #e9e9e9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
span.prop-icon.category.prop-footer::after {
  content: "";
  position: absolute;
  left: -12px;
  top: -10px;
  display: block;
  height: 1px;
  width: calc(100% + 34px);
  background: #e9e9e9;
}
span.prop-icon.category.prop-footer .prop-cat-name{

}